@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    // h3 {
    //     @apply text-3xl;
    // }
    // h4 {
    //     @apply text-2xl;
    // }
}

@layer components {
    .btn {
        @apply border-2 border-primary px-4 py-2 rounded bg-white hover:bg-slate-500;
    }
    .hover {
        @apply text-white bg-hover_color cursor-pointer;
    }
    .noneHover {
        @apply bg-white  text-black
    }
    .player-music {
        @apply bg-color_player_music h-full box-border;
    }
}

:root {
    // --primary: #fe2c55;
    // --black: #333;
    --text-color: rgba(22, 24, 35, 1);
    --text-primary: #fff;
    --text-secondary: hsla(0, 0%, 100%, 0.5);

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --font-family: 'Inter', sans-serif;
}
body {
    font-family: var(--font-family);
}
* {
    overflow: hidden;
    box-sizing: border-box;
}

// Scroll bar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(44, 44, 44, 1);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
